<div class="col-lg-3 col-md-6 col-sm-12">
<ul class="list-group list-unstyled pb-2 text-center">
  <div class="card-header list-group-item list-group-item-title">
    <%= lesson.name %>
  </div>
  <% lesson.contents.each do |content| %>
    <li class="list-group-item "><%= link_to content.name, content_info_path(lesson_id: lesson.id, content_id: content.id), {class: 'list-group-item'} %></li>
  <% end %>
  <a href="#" data-toggle="modal" data-target="#newContentModal<%= lesson.id %>" class="list-group-item list-group-item-info list-group-item-action">Create new content<i class="fas fa-plus-square fa-2x text-white float-right"></i></a>
</ul>
</div>

<%= render partial: 'new_content_modal', locals: {lesson_id: lesson.id} %>