<div id="edit-training-menu">
  <div class="lessons row">
    <div class="col-lg-3 col-md-6 col-sm-12" >
      <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary w-100" id="new-lesson-btn"><i class="fas fa-plus-square fa-2x text-gray-300"></i> <br>New Lesson </button>
    </div>

    <%= render partial: 'lesson_card', collection: @training.lessons, as: :lesson  %>
    <%= render 'new_lesson_modal' %>
  </div>
</div>