<div class="col-lg-3 col-md-6 col-sm-12 mt-5" >
  <button style="min-height:120px; background-size: cover; background-image: url('<%= slide.img_url.url %>')" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-info w-100 dashed_slide h-100"><i class="fas fa-puzzle-piece"></i></button>
</div>