<div class="row">

  <%= form_with model: @slide_text, url: submit_text_manager_path, local: true do |form| %>

      <%= form.label :text %>
      <%= form.rich_text_area :text %>

  <% end %>

</div>
